* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

span.friendRequestToast {
	color: #13e235;
}

:root {
	--bg-color: #10131d;
	--nav-bg-color: #1f2538;
	--comment-color: #32384e;
	--response-color: #2c3144;
	--green-color: #13e235;
	--white-color: #e2e2e2;
	--red-color: #e21313;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
	font-family: AlteHaasBold;
	src: url("./fonts/AlteHaasGroteskBold.ttf");
}

@font-face {
	font-family: AlteHaasRegular;
	src: url("./fonts/AlteHaasGroteskRegular.ttf");
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background-color: #10131d;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
}

p {
	color: var(--white-color);
}